/* universal style */
* {
    margin: 0;
    padding: 0;
    font size: 16px;
}
body {
    background-color: gray;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    padding: 20px;
    background-image: url('./IMG-20250508-WA0012.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
h1, {
    color: #444;
    margin-bottom: 20px;
    text-align: center;
    font style: italic;
}
h2 {
    color: #555;
    margin-bottom: 15px;
}